@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 15px;
  }
  header {
    flex-direction: column;
    height: auto;
  }
  .project {
    width: 300px;
    height: auto;
  }
  .tool {
    width: 200px;
  }
  .main_left {
    display: none;
  }
  .main_right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 13px;
  }
  .body {
    padding: 80px 6% 25px 6%;
  }
  .header_right img {
    width: 100%;
    height: auto;
  }
  .tools .cards {
    grid-template-columns: 1fr 1fr;
  }
  .projects .cards {
    grid-template-columns: 1fr;
  }
  .project {
    width: 350px;
  }
  .tool {
    width: 180px;
  }
  .contact {
    height: auto;
  }
}
@media screen and (max-width: 425px) {
  html,
  body {
    font-size: 12px;
  }
  .tools .cards {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .projects .cards {
    row-gap: 50px;
  }
  .project {
    width: 100%;
  }
  .header_left .text {
    gap: 8px;
  }
}
@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 11px;
  }
}
@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 10px;
  }
}
